/*  CODECADEMY:   Building Websites From Scratch
    UNIT:         03. Git and Github
    PROJECT:      Excursion Project
    DESCRIPTION:  A website to promote a travel mobile app.
    NOTEs:
      * A background-image error remains:  a tear is visible in bot background
            images for the main-banner and minor-banner'ed classed items.
*/
html, body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

/*apply to items with either class main-banner or minor-banner*/
.main-banner, .minor-banner {
  color: white;
  /*background-image: url(/run/user/1000/gvfs/smb-share:server=fritz-nas,share=homenetwork.nas/Seagate-ExpansionDesk-03/COMPANIES/SkyQode.Ltd/SoftwareDev/Atom/Projects/03.Git.and.GitHub/broadway/resources/images/the-flatiron-building.png);*/
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");

}

/*all <h1> nested inside item with class main-banner*/
.main-banner h1 {
  font-size: 70px
}

/*all <a> nested in <nav>*/
nav a {
  font-size: 18px;
}

/*all <a> nested inside <p>, nested inside <nav>, nested inside item with class main-banner*/
.main-banner nav p a {
  color: white;
}

/*nested under item with class process-section: apply font size to h2, h3 and p respectively*/
.process-section h2 {
  font-size: 32px;
}
.process-section h3 {
  font-size: 23px;
}
.process-section p {
  font-size: 14px;
}

/*line spacing*/
.small-line-height {
  line-height: 50%;
}

footer {
  color: white;
  background-color: dimgray;
  text-align: left;
}

/*Nested <a> didn't (for some reason) inherit the color white from footer!!)
  So we forced using this elaborate nested path!!!*/
footer nav p a {
  color: white;
}

.copy-right {
  font-size: 11px;
}
