html, body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.main-banner, .minor-banner {
  color: white;
  /*background-image: url(/run/user/1000/gvfs/smb-share:server=fritz-nas,share=homenetwork.nas/Seagate-ExpansionDesk-03/COMPANIES/SkyQode.Ltd/SoftwareDev/Atom/Projects/03.Git.and.GitHub/broadway/resources/images/the-flatiron-building.png);*/
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");

}

/*all <h1> nested inside item with class main-banner*/
.main-banner h1 {
  font-size: 70px
}

/*all <a> nested in <nav>*/
nav a {
  font-size: 18px;
}

/*all <a> nested inside <p>, nested inside <nav>, nested inside item with class main-banner*/
.main-banner nav p a {
  color: white;
}

.process-section h2 {
  font-size: 32px;
}

/*line spacing*/
.small-line-height {
  line-height: 50%;
}

footer {
  color: white;
  background-color: dimgray;
  text-align: left;
}

/*nested a didn't (for some reason> inherit the color white from footer!!)*/
footer nav p a {
  color: white;
}

.copy-right {
  font-size: 11px;
}
